@media only screen and (max-width: 1250px){
    
    /***** Section Header *****/
    .header-text {
        width: 100%;
        left: 0;
        transform: translate(0, 0);
    }
    
    .header-text h1 {
        text-align: center;
    }
}

@media only screen and (max-width: 1150px){
    
    /***** Section Our services *****/
    .photo-example img {
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .photo-example .span-1-of-2 {
        width: 48.3%;
    }
    
    /***** Section About-us *****/
    .DV-info .span-1-of-2 {
        width: 100%;
    }
    
    .photo-example .span-1-of-2 {
        width: 96%;
    }
    
    .photo-example .col {
        margin-left: 0;
    }
    
    .photo-example img {
        margin-left: 2%;
        margin-right: 2%;
    }
    
    /***** Section Photo-gallery *****/
    .photo-segment {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    /***** Section Reference *****/
    .col.span-1-of-3.one-reference {
        width: 48.5%;
        margin-left: 10px;
    }
    
    .one-reference:nth-child(3) {
        display: none;
    }
}

@media only screen and (max-width: 910px){
    /***** Mobile navigation *****/
    nav ul li {
        display: block;
    }
    
    .nav-background {
/*        display: none;*/
    }
    
    .mobile-nav-back {
        height: 140px;
        position: fixed;
        width: 100%;
        background-color: rgba(0,0,0,0.7);
        border-bottom: 2px solid #d67e4d;
        display: none;
    }
    
    .mobile-nav-icon {
        display: inline-block;
        z-index: 200;
        position: fixed;
        right: 2%;
    }
    
    nav ul {
        display: none;
    }
}

@media only screen and (max-width: 750px){
    
    /***** Section Header *****/
    .button {
        display: block;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .button-empty:link,
    .button-empty:visited {
        margin-left: 10px;
}
    
    /***** Section Photo-gallery *****/
    .photo-segment{
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .photo-segment .col{
        margin-left: 0;
    }
    
    .photo-segment li{
        width: 100%;
    }
}

@media only screen and (max-width: 685px){
    
    /***** Section Reference *****/
    .col.span-1-of-3.one-reference {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .photo-name {
        float: right;
        margin-right: 25px;
    }
}